html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  height: 100%;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;

  & + & {
    margin-left: 16px;
  }
}